<configuration debug="false">
	<!-- Create an appender for the console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-4relative [%thread] %highlight(%-5level) %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Configure the basic configuration of all loggers -->
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
	<!-- Increase verbosity for the Ixy package -->
	<logger name="de.tum.in.net.ixy.app" level="DEBUG" />
	<logger name="de.tum.in.net.ixy.generator" level="DEBUG" />
	<logger name="de.tum.in.net.ixy.forwarder" level="DEBUG" />
	<logger name="de.tum.in.net.ixy.ixgbe" level="DEBUG" />
	<!-- Disable logging from the PF4J -->
	<logger name="org.pf4j" level="WARN" />
</configuration>
